body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene {
  height: 480px;
  width: 720px;
  background: #b2dfdb;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
  position: relative;
}
.object-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: #7b1fa2;
  width: 5em;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 300px;
}
.object-triangle:hover::after {
  content: "";
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: #ba68c8;
  width: 7rem;
  height: 7rem;
  display: block;
  position: relative;
  top: -2rem;
  left: -2rem;
}
.object-square {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  background: #3d5afe;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  top: 250px;
  left: 100px;
}
.object-square:hover {
  box-shadow: inset 0px 0px 0px 15px #2196f3;
}
.object-circle {
  background: #f4511e;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 300px;
  left: 500px;
}
.object-circle:hover {
  box-shadow: inset 0px 0px 0px 15px #f57c00;
}
.message-div {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  padding-top: 1rem;
}
.animate-text {
  animation-name: fadeIn, slideDown;
  animation-duration: 0.5s;
}
/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0px);
  }
}
