body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module {
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
  min-height: 790px;
  min-width: 790px;
  padding-top: 40px;
}
.scene {
  height: 600px;
  width: 700px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer1-03.png) no-repeat center / cover;
  border-radius: 1rem;
  position: relative;
  margin: 0 auto;
}
.object-rug,
.object-pillow,
.object-lamp,
.object-vase,
.object-frame {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.object-rug {
  z-index: 1;
  width: 570px;
  top: 470px;
  left: 50px;
  height: 100px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer2-02.png) no-repeat center / cover;
}
.object-pillow {
  z-index: 5;
  width: 110px;
  top: 277px;
  left: 155px;
  height: 106px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer7-02.png) no-repeat center / cover;
}
.object-lamp {
  z-index: 4;
  width: 98px;
  height: 330px;
  top: 139px;
  left: 45px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer5-02.png) no-repeat center / cover;
}
.object-vase {
  z-index: 3;
  width: 42px;
  height: 150px;
  top: 186px;
  left: 590px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer4-02.png) no-repeat center / cover;
}
.object-frame {
  z-index: 2;
  width: 88px;
  height: 110px;
  top: 71px;
  left: 296px;
  background: url(https://education.asu.edu/sites/default/files/permission-upload/pa_tip5_interactive_layer6-02.png) no-repeat center / cover;
}
.object-rug:hover,
.object-pillow:hover,
.object-lamp:hover,
.object-vase:hover,
.object-frame:hover { 
  transform: scale(1.05); 
  border-radius: 16px;
  border: 4px;
  border-color: #8c1d40;
  border-style: dashed;
}
.message-div {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  padding-top: 1rem;
}
.animate-text {
  animation-name: fadeIn, slideDown;
  animation-duration: 0.5s;
}
.nextButton,
.restartButton {
  background-color: transparent;
  color: #8c1d40;
  border: 1px solid #8c1d40;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  padding: .8rem 2rem;
}
.nextButton:hover,
.restartButton:hover {
  background-color: #f0e4e8;
  border: 1px solid transparent;
  transition-timing-function: ease;
  transition: 0.3s;
}
/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0px);
  }
}
